#HOF{
    background-image:url('../../../../public/hofBg.png');
    width: 100%;
    height: 30vw;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8vw;
    padding-right: 10.7vw;
    font-size: 2.5vw;
    position: relative;
    cursor: pointer;
    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset 0px 2vw 2vw -1vw #000000, inset 0px -2vw 2vw -1vw #000000;
    }
}